<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>

<body>

    <div th:fragment="content" class="container mt-4">


        <!-- Success message -->
        <div th:if="${success}" class="alert alert-success">
            <span th:text="${success}"></span>
        </div>

          <!-- Error message -->
        <div th:if="${error}" class="alert alert-danger">
            <span th:text="${error}"></span>
        </div>


        <h2>Change Password</h2>

        <form th:action="@{/profile/change-password}"
              th:object="${changePasswordRequest}"
              method="post">

            <div class="mb-3">
                <label>Current Password</label>
                <input type="password"
                       th:field="*{currentPassword}"
                       class="form-control">
            </div>

            <div class="mb-3">
                <label>New Password</label>
                <input type="password"
                       th:field="*{newPassword}"
                       class="form-control">
            </div>

            <div class="mb-3">
                <label>Confirm Password</label>
                <input type="password"
                       th:field="*{confirmPassword}"
                       class="form-control">
            </div>

            <button class="btn btn-primary">
                Change Password
            </button>

        </form>

    </div>

</body>

</html>