<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:fragment="content">

        <h2>Dashboard</h2>
        <hr>

        <div class="row">

            <div class="col-md-3">
                <div class="card p-3">
                    <h5>Total workflows</h5>
                    <p>0</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card p-3">
                    <h5>Last Execution</h5>
                    <p>--</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>