<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Executions</title>
</head>
<body>

<div th:fragment="content">

    <h2>Execution History</h2>
    <hr>

    <table class="table table-bordered">

        <thead>
        <tr>
            <th>Workflow</th>
            <th>Status</th>
            <th>Executed At</th>
            <th>Output</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="log : ${logs}">

            <td th:text="${log.workflow.name}"></td>

            <td>
                <span class="badge"
                      th:classappend="${log.status == 'SUCCESS'} ? 'bg-success' : 'bg-danger'"
                      th:text="${log.status}">
                </span>
            </td>

            <td th:text="${#temporals.format(log.executedAt, 'dd MMM yyyy HH:mm')}"></td>

            <td th:text="${log.outputData}"></td>

            <td>
                <a th:href="@{'/executions/' + ${log.id}}"
                   class="btn btn-sm btn-dark">
                    View
                </a>
            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>